* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 400;
}

body {
    background: #837FB1;
}

.wrapper {
    position: relative;
    margin: auto;
    margin-top: 36px;
    width: 700px;
    height: 359px;
    background: #212931;
    border-radius: 21px;
    z-index: 2;
}

.nav {
    left: 3%;
    top: 5%;
    position: absolute;
    background-image: url(./assets/Group\ 15.svg);
    width: 58px;
    height: 13px;
    background-repeat: no-repeat;

}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
}
h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
}

.border {
    position: absolute;
    width: 700px;
    height: 360px;
    left: 30%;
    top: 20%;
    border: 1px solid #000000;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    border-radius: 21px;
    z-index: 1;
}

p {
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 500px;
}